.floatLeft {
  float: left;
}

.floatRight {
  float: right;
}

.clearBoth {
  clear: both;
}
.roundedborder {
  border: 1px solid #eee;
  padding: 1%;
  margin: 1%;
}
.customBtn {
  border: none;
  color: white;
  padding: 0.5em 1em;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 0.5em;
}
